.input {
  display: flex;
}
.all {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding-top: 20px;
  border: 1px solid black;
}
.list button {
  color: white;
  background-color: rgb(154, 40, 40);
  border-style: none;
  float: right;
}
